.appContainer {
    display: flex;
    justify-content: space-between; /* Ensures the puzzle and the rules are spaced out */
    align-items: flex-start; /* Aligns items at the start of the container */
    height: 100vh; /* Uses full view height */
    padding: 20px;
}

.kakuroContainer {
    flex-grow: 1; /* Allows the puzzle container to take up available space */
    display: flex;
    flex-direction: column; /* Stacks children vertically */
    align-items: center; /* Centers the children horizontally */
    margin-right: 20px; /* Provides space between this container and the rules */
}

.rulesContainer {
    width: 300px; /* Fixed width for the rules */
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    height: fit-content;
}

.slidecontainer {
    width: 100%;
  }
  
  .slider {
    display: flex;
    width: 100%;
    height: 25px;
    align-items: center;
    justify-content: center;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
  }
  
  .slider:hover {
    cursor: pointer;
    opacity: 1;
  }
  
  .slider::-webkit-slider-thumb {
    appearance: none;
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }
  
  .slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
  }


  

  .button {
    padding: 12px 24px;
    font-size: 12px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.2s, box-shadow 0.3s;
    margin-top: 20px;
    margin-right: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  }
  
  .button:hover {
    transform: scale(1.05);
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  }
  
  .reset-button {
    background-color: #0e0c0c; /* Red */
  }
  
  .solve-button {
    background-color: #d0c229; /* Green */
  }
  
  .stop-button {
    background-color: #c2171d; /* Blue */
  }

  .resume-button{
    background-color: #4CAF50;;
  }
  
  .stop-button:disabled {
    background-color: #cccccc; /* Grey when disabled */
    cursor: not-allowed;
  }